.not__found {
  width: 90%;margin: auto;
}
.not__found h1 {
  margin: 4rem auto;font-size: 10rem;line-height: 10rem;
  letter-spacing: -2px;font-family: bungee, sans-serif;
  color: #f07167;text-shadow: 6px 8px 0px #eaac8b;text-decoration: none;  
}
.not__found h2 {
  margin: 1rem auto; font-size: 3rem;font-weight: 900; color: #FFF;   
}