.auth__app {
  height: 100vmax;background-color: #6a7cd7;
}
.auth__form {
  padding: 3rem;margin: auto;box-sizing: border-box;
}
.auth__form h1 {
  margin: 4rem auto; font-size: 8rem;line-height: 8rem;display: block;
  text-align: center;letter-spacing: -2px;font-family: bungee, sans-serif;
  color: #FFF;text-shadow: 6px 8px 0px #00a8e8;text-decoration: none;
}
.auth__form form {
  width: 60%;padding: 2rem;margin: auto; box-sizing: border-box; 
  background-color: #5fa8d3;border-radius: 5px;box-shadow: 0px 8px 2px 1px #1982c4
}
.auth__form form .form__control {
  padding: 0.5rem 0;display: grid;grid-template-columns: 1fr 2fr;
}
.auth__form form .button__group {
  margin: 1rem auto;text-align: center;
}
.auth__form form label {
  padding: 0.5rem 2rem; display: flex;text-align: left; 
  font-size: 1.5rem;line-height: 4rem;font-weight: 600; 
  color: #FFF;
}
.auth__form form input[type="text"], input[type="password"] {
  width: 100%; padding: 1rem;box-sizing: border-box;
  border: 10px solid #5fa8d6;border-radius: 5px;
  font-size: 1.5rem;line-height: 2rem;
}
.auth__form form input[type="submit"], button {
  padding: 1rem 4rem;margin: 0 1px; font-size: 1.5rem; font-weight: bold; 
  background-color: #00afb9;border: none;border-radius: 3px; color: #FFF; 
}
.auth__form form button {
  background-color: #3d5a80;
}