.container {
  width: 50%;margin: auto;
}
.wrapper {
  border: none;box-shadow: none;background-color: #bde0fe;
  border-radius: 3px;border: 1px solid #CDCDCD;
}
.wrapper h2 {
  padding: 0rem; margin: 0;display: inline-block; text-align: right;
  font-size: 4rem;line-height: 4rem;font-weight: 800; color: #5fa8d3; 
}
.txn__form form {
  width: 60%;padding: 3rem;margin: auto; box-sizing: border-box; 
  
}
.txn__form form .form__control {
  padding: 0.5rem 0;display: grid;grid-template-columns: 1fr 60%;
}
.txn__form form .button__group {
  margin: 1rem auto;
}
.txn__form form label {
  padding: 0.5rem 2rem; display: flex;text-align: left; 
  font-size: 1.5rem;line-height: 4rem;font-weight: 600; 
  background-color: #5fa8d3;color: #FFF;border-radius: 5px 0 0 5px;
}
.txn__form form input[type="text"], input[type="date"], textarea {
  width: 100%; padding: 1rem;box-sizing: border-box;
  border: 10px solid #5fa8d3;border-radius: 0 5px 5px 0;
  font-size: 1.5rem;line-height: 2rem;
}
.txn__form form input[type="number"] {
  width: 50%; padding: 1rem;box-sizing: border-box;
  border: 10px solid #5fa8d3;border-radius: 0 5px 5px 0;
  font-size: 1.5rem;line-height: 2rem;
}
.txn__form form input[type="submit"], button {
  padding: 1rem 4rem;margin: 0 1px; font-size: 1.5rem; font-weight: bold; 
  background-color: #00afb9;border: none;border-radius: 3px; color: #FFF; 
}
.txn__form form button {
  background-color: #3d5a80;
}