.container {
  width: 50%;margin: auto;
}
.wrapper {
  border: none;box-shadow: none;background-color: #e7ecef;
  border-radius: 3px;border: 1px solid #CDCDCD;
}

form {
  width: 60%;padding: 3rem;margin: auto; box-sizing: border-box; 
  
}
form .form__control {
  padding: 0.5rem 0;
}
form .button__group {
  margin: 1rem auto;
}
form label {
  display: block;font-size: 1.5rem;line-height: 2rem; 
}
form input[type="text"], input[type="date"], textarea {
  width: 100%; padding: 1rem;box-sizing: border-box;
  border: 10px solid #5fa8d3;border-radius: 5px;
  font-size: 1.5rem;line-height: 2rem;
}
form input[type="number"] {
  width: 30%; padding: 1rem;box-sizing: border-box;
  border: 10px solid #5fa8d3;border-radius: 5px;
  font-size: 1.5rem;line-height: 2rem;
}
form input[type="submit"], button {
  padding: 1rem 4rem;margin: 0 1px; font-size: 1.5rem; font-weight: bold; 
  background-color: #669bbc;border: none;border-radius: 3px; color: #FFF; 
}